body{
  background-color: red;
  background-position: center;
}

H1{

  text-align: center;
}
.y{
padding: 5px;
  border-radius: 10%;
  background-color: white;
  }
  marquee{
        font-size: 30px;
        font-weight: 100;
        color: red;
        font-family: "Sofia";

        background-color:black;
      }
div{
font-family: 'Metal Mania', cursive;
padding: 10px;
text-align: center;
}

h1{
  text-decoration: underline;
  text-decoration-color: grey;
}
a{
  text-decoration: none;
    text-transform: uppercase;
  border: 5px dotted black;
  border-radius: 20%;
background-repeat: no-repeat;
 background-origin: padding-box;


  }
  h2{
    text-align: center;
}
